:root {
  --backgroundColor: rgb(6, 6, 6);
  --fancyColor: rgb(233, 221, 5);
}
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--fancyColor);
}

#earth_div {
  top: 15vh;
  right: 0;
  bottom: 0;
  left: 0vw;
  width: 100vw;
  height: 85vh;
  position: absolute !important;
  margin:0;
  padding: 0;
}

#title {
  width: 100vw;
  height: 10vh;
  top: 5vh;
  text-align: center;
  /* margin-top: 5vh; */
  position: absolute;
  z-index: 2 !important;
}
#title > h1 {
  color: white;
  font-size: 4em;
  font-family: sans-serif;
  margin: 0;
  width: 80vw;
  margin-left: 10vw;
}

#about {
  width: 70vw;
  font-size: 1.3em;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 110vh;
  left: 15vw;
  text-align: justify;
}

#footer {

}

/* Scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--backgroundColor);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: var(--fancyColor);
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fancyColor);
}


@media only screen and (max-width: 600px) {

  #title > h1 {
    font-size: 2em;
  }

}
